<div class="row">
    <div class="col-md-12">
        <img src="{{ asset('images/trainingcampimage.jpeg') }}" class="card-img-top" style="max-height: 500px;"  alt="Link to training camps">
        <div class="bg-light mt-0 pt-3 pb-3 pl-3 pr-3 mb-3">
            <h5>Training camps</h5>
            <p>Try out new training camps! <a class="text-decoration-none text-black-50" href="{{ path('team_training_camp') }}">Click here to go to training camps page</a>.</p>
        </div>
    </div>
</div>
