<div class="row">
    <div class="col-md-12">
        <div class="card text-dark bg-custom-dark mb-3" style="width: 100%;">
            <div class="card-header pt-4 pb-4">Team logo</div>
            <div class="card-body">
                <img src="{{ vich_uploader_asset(team, 'imageFile')|imagine_filter('my_player_image') }}" class="card-img" alt="">
            </div>
        </div>
    </div>
</div>
