<div class="row"><!-- Row 2 -->


    <div class="col-md-12"><!-- Column md-12 -->



        <div class="card bg-custom-dark">
            <div class="card-header pb-4 pt-4">Details</div>
            <div class="card-body">
                <div class="row" id="playerDetails" data-player="{{ player.id }}">


                </div>
            </div>
        </div>




    </div><!-- Column md-12 -->



</div><!-- Row 2 -->
