{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.titles.dashboard' | trans }}{% endblock %}

{% block body %}

    <div class="container mt-5"><!-- Container -->

        <div class="row">
            <div class="col-md-4 mb-5">
                {% include 'admin/_partials/_admin_navbar.html.twig' %}
            </div>

            <div class="col-md-8 mb-5">
                <div class="card bg-custom-dark">
                    <div class="card-header">{{ 'dashboard.header' | trans }}</div>
                    <div class="card-body">
                        <p>{{ 'dashboard.text' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Container -->

{% endblock %}
