* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;

}

body{
    background: #1E2024 !important;
    -webkit-background-size: cover;
    background-size: cover;
    /*box-shadow: inset 3px 500px 500px 0 rgba(0,0,0,0.7);*/
}

.container {
    color: white !important;
}

.player-profile{
    width: 100%;
    border-left: solid 5px #20384A;
    padding: 0 0 0 0;
    background: #2e516b;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /*box-shadow: inset 0px 5px 20px 0 rgba(0,0,0,0.7);*/
}

.player-profile-header{
    box-shadow: inherit;
    background: #2e516b;
    color: white;
    min-height: 40px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #20384A;
}

.player-profile-body{
    color: white;
    text-align: center;
}

.player-profile-body ul {
    list-style-type: none;
    padding-left: 10px;
}

.player-profile-body ul li{
    display: block;
}

.player-profile-picture{
    border-bottom: 1px solid #20384A;
}

.player-profile-picture img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.card-header{
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 16px;
    border-left: solid 5px #FFCC00;
    border-bottom: 0 !important;
}

.card-body{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body ul{
    list-style-type: none;
}

.card-body ul li{

}

.card-image{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
    box-shadow: inset 0px 50px 75px 100px rgba(0,0,0,1);
}

/*  Navigation bar  */

#navbar {

}

.navbar{
    border-bottom: solid 2px #FFCC00 !important;
}

.yellowBorderBottom {
    border-bottom: solid 2px #FFCC00 !important;
}


#navbar1 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.bg-custom-dark {
    background: #292C31 !important;
}

.bg-custom-dark-secondary {
    background: #1E2024 !important;
}

.yellowColor{
    color: #FFCC00;
}

.card-x-small-text {
    font-size: x-small;
}

.card-small-text {
    font-size: small;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #FFCC00;
    border-width: 2px;
    box-shadow: none;
}

.page-item > .page-link{
    background: #292C31 !important;
    border-color: rgba(255, 255, 255, .5) !important;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    border-color: #FFCC00;
    box-shadow: none;
    color: white;
}

.pagination > li > a {
    box-shadow: none;
}

.active > span
{
    color: #FFCC00 !important;
    box-shadow: none;
}

a.noHoverYellow:hover {
    color: #FFCC00;
}

.faded {
    opacity: 0.3;
}

.light {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .team-logo{
        height: 150px;
        width: 150px;
    }
}

