<div class="row">
    <div class="col-md-12">




        <div class="card text-white bg-custom-dark mb-3" style="width: 100%;">
            <div class="card-header pt-4 pb-4">Advertisement</div>
            <div class="card-body pb-3 pt-3 pr-3 pl-3">
                <img src="{{ asset('images/streetball.jpg') }}" class="card-img" alt="">
            </div>
        </div>




    </div>
</div>
